<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.blog.mapper.CommentMapper">
    <resultMap id="commentMap" type="com.kk.blog.dto.CommentInfoDTO">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="content" column="content"/>
        <result property="parentId" column="parent_id"/>
        <result property="commentatorId" column="commentator_id"/>
        <result property="commentator" column="user_name"/>
        <result property="objectId" column="object_id"/>
    </resultMap>
    <select id="listAllByObjectId" resultMap="commentMap">
        SELECT c.id, c.content, c.create_time, c.object_id, c.parent_id, c.commentator_id, u.user_name
        FROM blog_comment c
        INNER JOIN user u
        ON c.commentator_id = u.id
        WHERE c.del_flag = '0'
    </select>
</mapper>
